# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
pytest_cache/
# VS Code
.vscode/

# Logs
*.log

# Output
output/*
!output/.gitkeep

# Temporary Office files
~$*.docx

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini